#projects {
    margin: 0 auto;
    min-height: calc(100 - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.projectsTitle {
    margin: 1rem 0;
    padding-top: 3rem;
    padding-bottom: .5rem;
    font-size: 3rem;
    color: deepskyblue;
}


.projectsImg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.cardImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
    position: relative;
}

.imgProject {
    height: 20rem;
}

.cardImg:hover figcaption{
    display: block;
}
.cardImg:hover{
    transform: scale(1.05);
}

figcaption{
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.75);
    text-align: center;
    padding: 15px;
    font: 20px;
    color: white;
}

@media screen and (max-width:585px) {
    .projectImg {
        height: 48vw;

    }
}