#projects {
    margin: 0 auto;
    min-height: calc(100 - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.projectsTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.projectsDes {
    font-size: 1rem;
    font-weight: 300;
    max-width: 45rem;
}

.projectsImg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.projectImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

@media screen and (max-width:585px) {
    .projectImg {
        height: 48vw;

    }
}