.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 27;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: deepskyblue;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid deepskyblue;
}

.desktopMenuBtn{
    background-color: white;
    border: none;
    color: black;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}
