#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
}

.bg{
    position: absolute;
    top: 4.5rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: deepskyblue
}

.introPara{
    font-size: small;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 800px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-size: small;
    color: deepskyblue;
    margin: 1rem 0;
    padding: 0rem 2rem;
    border: none;
    border-radius: 2rem;
    height: 2rem;
    width: 6rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: .7rem;
}

@media screen and (max-width:840px){
    .bg {
        right: -20vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:540px){
    .bg {
        right: -45vw;
    }
}